<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Real Estate App</title>
</head>

<body>
<style>
body {
  background-color: lightblue;
}
</style>
	<div align="center">
		<div sec:authorize="isAuthenticated()">
			Hello: <b><span sec:authentication="name">Username</span></b>
			&nbsp;
			<i><span sec:authentication="principal.authorities">Roles</span></i>
		</div>

		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Logout" />
		</form>

		<h1>XJM Real Estate Management</h1>
		<p>We offer the best rentals in town.</p>
		<div sec:authorize="hasAnyAuthority('LANDLORD', 'ADMIN')">
			<a href="new">Create New Property Listing</a>
		</div>

		<br /><br />
		<table border="15" cellpadding="40">
			<thead>
				<tr>
					<th>Property ID</th>
					<th>LandLord Name</th>
					<th>Property Address</th>
					<th>City</th>
					<th>State</th>
					<th>Description</th>
					<th>Rent</th>

					<th sec:authorize="hasAnyAuthority('ADMIN', 'LANDLORD')">Actions</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="house : ${listHouses}">
					<td th:text="${house.id}">Property ID</td>
					<td th:text="${house.name}">LandLord Name</td>
					<td th:text="${house.address}">Property Address</td>
					<td th:text="${house.city}">City</td>
					<td th:text="${house.state}">State</td>
					<td th:text="${house.description}">Description</td>
					<td th:text="${house.price}">Rent</td>


					<td sec:authorize="hasAnyAuthority('ADMIN', 'LANDLORD')">
						<a th:href="@{'/edit/' + ${house.id}}">Edit Property</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/delete/' + ${house.id}}">Delete
							Property</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>